//Modal

.modal {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.5);
	z-index: 50;
	justify-content: center;
	transition: .7s ease all;
	display: none;
	opacity: 0;

	&-inner {
		align-self: center;
		width: 80%;
		background-color: #fff;
		border-radius: 5px;
		height: 17em;
		box-shadow: 0 0 10px rgba(0,0,0,0.7);
		padding: 1em;
		border: 4px $bs-lightblue solid;

		.modal-close {
			text-align: right;
		}

		.content {
			h1 {
				text-transform: uppercase;
				text-align: center;
				font-size: 1.5em;

				&:after {
					display: block;
					content: "";
					width: 80%;
					height: 1px;
					margin: 0 auto;
					margin-top: .25em;
					background-color: rgba(0,0,0,0.3);
				}
			}

			.socials {
				display: flex;
				flex: 0 0 25%;
				justify-content: space-around;
				width: 80%;
				margin: 0 auto;
				margin-top: 3em;
				text-align: center;

				.social-container {
					a {
						color: #000;

						i {
							font-size: 3em;
						}

						p {
							font-size: .8em;
						}
					}


				}
			}
		}
	}
}

@media only screen and (min-width : 60em) {
	.modal {
		&-inner {
			width: 60%;

			.content {
				h1 {
					font-size: 2em;
				}

				.socials {

					.social-container {
						a {
							transition: .3s ease color;

							&:hover {
								color: $bs-lightblue;
							}
						}
					}
				}
			}
		}
	}
}

@media only screen and (min-width : 80em) {
	.modal {
		&-inner {
			width: 50%;
			height: 19em;

			.content {
				h1 {
					font-size: 3em;
				}

				.socials {

					.social-container {
						a {

							i {
								font-size: 3em;
							}
						}
					}
				}
			}
		}
	}
}

.open-modal {
	opacity: 100%;
	display: flex;
}