$mg-blue: #008CFF;
$mg-med-blue: #2076BE;
$mg-dark-blue: #001638;
$wht: #fff;
$blk: #000;

@mixin roboto {
	font-family: 'Roboto', sans-serif;
}

@mixin kanit {
	font-family: 'Kanit', sans-serif;
}

@mixin font-shadow {
	text-shadow: 0 2px 5px rgba(0,0,0,0.5);
}