.desktop-header {
	display: none;
}

.mobile-header {
	.logo {
		width: 50%;
		margin: 1em auto;
		max-width: 18em;

		img {
			width: 100%;
			display: block;
		}
	}

	.open-btn {
		position: absolute;
		top: 0;
		right: 0;
		margin: 2em 1em;

		img {
			width: 25px;
		}
	}
}

.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: $mg-dark-blue;
	overflow-x: hidden;
	padding-top: 60px;
	transition: 0.5s;

	ul {
		margin: 0;
		list-style-type: none;
		padding: 0;
	}

	a {
		padding: 8px 8px 8px 32px;
		text-decoration: none;
		font-size: 25px;
		color: $wht;
		display: block;
		transition: 0.3s ease color;

		&:hover {
			color: $mg-blue;
		}
	}

	.close-btn {
		position: absolute;
		top: 0;
		right: 0;
		margin: 1em;

		img {
			width: 20px;
		}

	}
}