.desktop-header {
	display: none;
}

.mobile-header {
	.logo {
		width: 50%;
		margin: 1em auto;
		max-width: 18em;

		img {
			width: 100%;
			display: block;
		}
	}

	.open-btn {
		position: absolute;
		top: 0;
		right: 0;
		margin: 2em 1em;

		img {
			width: 25px;
		}
	}
}

.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: $mg-dark-blue;
	overflow-x: hidden;
	padding-top: 60px;
	transition: 0.5s;

	ul {
		margin: 0;
		list-style-type: none;
		padding: 0;
	}

	a {
		padding: 8px 8px 8px 32px;
		text-decoration: none;
		font-size: 25px;
		color: $wht;
		display: block;
		transition: 0.3s ease color;

		&:hover {
			color: $mg-blue;
		}
	}

	.close-btn {
		position: absolute;
		top: 0;
		right: 0;
		margin: 1em;

		img {
			width: 20px;
		}

	}
}

@media only screen and (min-width : 60em) {
	.mobile-header {
		display: none;
	}

	.desktop-header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 1em 3em;

		.logo {
			flex: 0 0 20%;

			img {
				display: block;
				width: 100%;
			}
		}

		nav {
			flex: 0 0 35%;

			ul {
				list-style-type: none;
				display: flex;
				justify-content: space-around;
				margin: 0;
				padding: 0;

				li {
					flex: 0 0 20%;
					text-align: center;

					a {
						font-size: 1.1em;
						text-decoration: none;
						text-transform: uppercase;
						color: $blk;
						@include roboto;
					}

					.active {
						color: $mg-med-blue;
						font-weight: 800;
					}
				}
			}
		}
	}
}