.text-area {
    margin: 2em;

    &-inner {
        margin: 0 0 5em 0;

        .text-area-top {
            text-align: center;
            margin: 3em 0;
        }

        .col-3 {
            .about-item {
                text-align: center;
                margin: 2em 0;

                h3 {
                    font-size: 2em;
                    width: 4.9em;
                    margin: 0 auto;

                }
            }
        }
    }
}

.mobile-first {
    margin: 5em 2em;
    &-inner {
        .left {
            h2 {
                text-align: center;
                margin: 0 0 2em 0;
            }
            p {
                text-align: center;
            }

            .mobile-first-infographic {
                display: flex;
                margin: 2em 0;

                .icon {
                    flex: 0 0 10%;

                    img {
                        width: 100%;
                        display: block;
                    }
                }

                p {
                    text-align: left;
                    margin: 0 0 0 2em;
                }
            }
        }

        .right {

            height: 25em;
            overflow: hidden;
            
            img {
                display: block;
                width: 100%;
                max-width: 20em;
                margin: 0 auto;
            }
        }
    }
}


@media only screen and (min-width : 40em) {
    .text-area {
        margin: 3em;
    }

    .mobile-first {
        margin: 5em 3em;
    }
}

@media only screen and (min-width : 60em) {
    .text-area {
        margin: 5em 12%;
        &-inner {

            .text-area-top {
                p {
                    max-width: 40em;
                    margin: 1.5em auto;
                }
            }
    
            .col-3 {
                display: flex;
                margin: 4em 0;

                .about-item {
                    text-align: left;
                    flex: 1 0 25%;
                    margin: 1em;

                    h3 {
                        margin: 0;
                    }
                }
            }
        }
    }

    .mobile-first {

        margin: 5em 12%;

        &-inner {
            display: flex;
            justify-content: space-between;
            .left {
                flex: 0 0 50%;
                
                h2 {
                    text-align: left;
                }

                p {
                    text-align: left;
                    margin-bottom: 4em;
                }

                .mobile-first-infographic {
                    align-items: center;

                    .icon {
                       flex: 0 0 8%;
                    }

                    p {
                        flex: 0 0 50%;
                    }
                }
            }
    
            .right {
                flex: 0 0 30%;
            }
    
        }
    }
}