.text-area {
    margin: 2em;

    &-inner {
        margin: 0 0 5em 0;

        .text-area-top {
            text-align: center;
            margin: 3em 0;
        }

        .col-3 {
            .about-item {

                margin: 2em 0;

                h3 {
                    font-size: 2em;
                    width: 4.9em;
                }

                .about-icon-title {
                    display: flex;
                    
                    h3 {
                        flex: 0 0 30%;
                    }

                    .icon {
                        flex: 0 0 10%;
                        align-self: center;
                        margin-left: 1em;
                        border-left: 1px black solid;
                        padding-left: 1em;

                        img {
                            width: 100%;
                            display: block;
                        }
                    }
                }
            }
        }
    }
}

.mobile-first {
    margin: 5em 2em;
    &-inner {
        .left {
            h2 {
                text-align: center;
                margin: 0 0 2em 0;
            }
            p {
                text-align: center;
            }

            .mobile-first-infographic {
                display: flex;
                margin: 2em 0;

                .icon {
                    flex: 0 0 10%;

                    img {
                        width: 100%;
                        display: block;
                    }
                }

                p {
                    text-align: left;
                    margin: 0 0 0 2em;
                }
            }
        }

        .right {

            height: 25em;
            overflow: hidden;
            
            img {
                display: block;
                width: 100%;
            }
        }
    }
}